{% load static %}
<!DOCTYPE html>
<html lang="es"><!--Establecemos idioma castellano por accesibilidad-->
	<head>
		<link rel="stylesheet" href="{% static 'CSS/web_styles.css' %}"><!--De esta forma referenciamos nuestro código html a la hoja de estilos CSS-->
		<meta name="description" content="Aplicación de Deustronics Components S.L. par la Gestión de Pedidos">
		<title>{% block titulo %}Deustronics Components{% endblock %}</title>
	</head>
	<body>
		<!--Cabecera de la página común para toda la aplicación-->
		<header>

			<img id="logo" src="{% static 'IMG/LOGOS/logo-deusto.png' %}" width="80px" height="100px" alt="Logo de Deusto">
			<h1>DEUSTRONICS COMPONENTS</h1>
			<div class="login">

			</div>
		</header>
		<!--Definimos un espacio principal, en el centro, común para toda la aplicación-->
		<main>
			<!--En esta página, el main se va a dividir en bloques que son artículos-->
			{% block main %}
            {% endblock %}

		</main>
		<!--Definimos una columna que irá colocada a la izquierda, en la que situaremos el menú de navegación en todas las páginas-->
		<div class="columna-izquierda">
			<div class="menu">
				<!--El menú de navegación lo configuramos como una lista-->
				<ul>
					<li><a class="enlace-menu" href="{% url 'home' %}">HOME</a></li>
					<li><a class="enlace-menu" href="{% url 'clientes' %}">CLIENTES</a></li>
					<li><a class="enlace-menu" href="{% url 'categorias' %}">CATALOGO</a></li>
					<li><a class="enlace-menu" href="{% url 'componentes' %}">COMPONENTES</a></li>
					<li><a class="enlace-menu" href="{% url 'pedidos' %}">PEDIDOS</a></li>
				</ul>
			</div>
		</div>
		<!--Definimos el pie de la página que va a ser común para todas las páginas-->
		<footer>
			<label>Developed by:</label>
			<img src="{% static 'IMG/LOGOS/logoHipatia.bmp' %}" width="80px" height="50px" alt="Logo de Hipatia Control">
			<div class="contacto">
				<label>Contacto: soporte@sicher.es</label>
			</div>
		</footer>
	</body>
</html>
