{% extends 'base.html' %}

{% block titulo %}Listado de Clientes{% endblock %}

{% block main %}
<h2 class = "titulos">Listado de clientes</h2>

	<div class = "tabla">
	<table class="table_clientes">
		<thead>
		<tr>
			<th >ID</th>
			<th >Nombre de la empresa</th>
			<th >Visualiza cliente</th>
		</tr>
		</thead>
		<tbody>
		{% for d in lista_clientes %}
		<tr>
			<td > {{ d.id }}</td>
			<td >{{ d.nombre_empresa}}</td>
			<td ><a href="/appGestionPedidos/clientes/{{ d.id }}">Mostrar Cliente</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
	<a class="anadir_cliente" href="{% url 'Añadir_Cliente' %}"><button class ="boton" name="boton">Crear Cliente</button> </a>
{% endblock %}
