{% extends 'base.html' %}

{% block titulo %}Listado de Clientes{% endblock %}

{% block main %}
<h2>Listado de clientes</h2>

	<div class = "tabla">
	<table>

		<tr>
			<td >ID</td>
			<td >Nombre de la empresa</td>
		</tr>
		{% for d in lista_clientes %}
		<tr>
			<td > {{ d.id }}</td>
			<td >{{ d.nombre_empresa}}</td>
			<td ><a href="/appGestionPedidos/clientes/{{ d.id }}">Mostrar Cliente</a></td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<a href="{% url 'Añadir_Cliente' %}"><input type="button" value="Añadir cliente"></a>
{% endblock %}
