{% extends "base.html" %}

{% block titulo %}Listado de Componentes{% endblock %}

{% block main %}
<h2 class = "titulos">Listado de componentes</h2>

	<div class="tabla">
		<table class="tabla_componentes">
		<thead class="thead_componentes">
		<tr>
			<th class="primera-titulo">id</th>
			<th class="segunda-titulo">Nombre</th>
			<th class="tercera-titulo">Marca</th>
		</tr>
		</thead>
		<tbody class="tbody_componentes">
		{% for d in lista_componentes %}
		<tr>
			<td class="primera">{{ d.id }}</td>
			<td class="segunda">{{ d.nombre}}</td>
			<td class="tercera">{{ d.marca }}</td>
		</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
{% endblock %}
