{% extends "base.html" %}
{% load static %}

{% block titulo %} Datos de pedido {% endblock %}

{% block main %}
<h2 class="titulos">Datos del pedido</h2>

{% if pedido %}
    <ul class="datos">
        <li>
            <label class="cabecera">Identificador :</label>
            {{pedido.identificador}}
        </li>
         <li>
             <label class="cabecera">Fecha de Pedido :</label>
            {{pedido.fecha_pedido}}
        </li>
         <li>
             <label class="cabecera">Fecha de entrega :</label>
            {{pedido.fecha_entrega}}
        </li>
         <li>
             <label class="cabecera">Producto :</label>
             {{ pedido.producto.all|join:", " }} <!-- De esta forma mostramos todos los productos seleccionados separados por comas-->
        </li>
         <li>
             <label class="cabecera">Cantidad :</label>
            {{pedido.cantidad}}
        </li>
         <li>
             <label class="cabecera">Cliente :</label>
            {{pedido.cliente}}
        </li>
        <li>
             <label class="cabecera">Base imponible :</label>
            {{pedido.base_imponible}}
        </li>
        <li>
             <label class="cabecera">IVA :</label>
            {{pedido.iva}}
        </li>
        <li>
             <label class="cabecera">Importe Total :</label>
            {{pedido.precio}}
        </li>
    </ul>
{% else %}
    <p>Este pedido no existe</p>
{% endif %}

<!-- Botones de navegación de la parte inferior-->
<a id="volver" href="{% url 'pedidos' %}"><img src="{% static 'IMG/LOGOS/boton-volver.jpg' %}" width="30px" height="30px" alt="Imagen de volver atrás"></a>
<a id="home" href = "{% url 'home' %}"><img src="{% static 'IMG/LOGOS/home.png' %}" width="40px" height="40px" alt="Imagen de home"></a>

{% endblock %}
