{% extends "base.html" %}
{% load static %}

{% block titulo %}Datos Del Cliente{% endblock %}

{% block main %}
<h2 class="titulos">Datos Del Cliente</h2>

<!--Botón para acceder al historial de pedidos de este cliente-->
<button class ="boton" id = "boton-historial" name="historial">Historial Pedidos</button>

{% if cliente %}

<ul class="datos">
	<li>
		<label class="cabecera">ID :</label>
		{{ cliente.id }}
	</li>
	<li>
		<label class="cabecera">Empresa :</label>
		{{ cliente.nombre_empresa}}
	</li>
	<li>
		<label class="cabecera">Telefono :</label>
		{{cliente.telefono}}
	</li>
	<li>
		<label class="cabecera">Persona contacto :</label>
		{{cliente.persona_contacto}}
	</li>
	<li>
		<label class="cabecera">Dirección :</label>
		{{ cliente.direccion }}
	</li>
	<li>
		<label class="cabecera">C.P. :</label>
		{{ cliente.codigo_postal}}
	</li>
	<li>
		<label class="cabecera">Localidad :</label>
		{{cliente.Localidad}} ({{cliente.Provincia}})
	</li>
	<li>
		<label class="cabecera">Email :</label>
		{{cliente.email}}
	</li>

</ul>
{% else %}
    <p>Este cliente no existe</p>
{% endif %}

<!-- Botones de navegación de la parte inferior-->
<a id="volver" href="{% url 'clientes' %}"><img src="{% static 'IMG/LOGOS/boton-volver.jpg' %}" width="30px" height="30px" alt="Imagen de volver atrás"></a>
<a id="home" href = "{% url 'home' %}"><img src="{% static 'IMG/LOGOS/home.png' %}" width="40px" height="40px" alt="Imagen de home"></a>

{% endblock %}
