{% extends "base.html" %}

{% block titulo %}Datos Del Cliente{% endblock %}

{% block main %}
<h2>Datos Del Cliente</h2>

{% if cliente %}
<ul class="datos_cliente">
	<li>
		ID : {{ cliente.id }}
	</li>
	<li>
		Empresa : {{ cliente.nombre_empresa}}
	</li>
	<li>
		Telefono : {{cliente.telefono}}
	</li>
	<li>
		Persona contacto : {{cliente.persona_contacto}}
	</li>
	<li>
		C/ {{ cliente.direccion }}
	</li>
	<li>
		C.P. ({{ cliente.codigo_postal}})
	</li>
	<li>
		{{cliente.Localidad}} : ({{cliente.Provincia}})
	</li>
	<li>
		Email : {{cliente.email}}
	</li>

</ul>
<p ><a href="/appGestionPedidos/clientes/{{ d.id }}">ATRÁS</a></p>
	{% else %}
		<p>No existe este departamento.</p>
	{% endif %}
{% endblock %}
