{% extends "base.html" %}
{% load static %}

{% block titulo %} Datos del Producto {% endblock %}

{% block main %}
<h2 class="titulos">Datos del producto</h2>

{% if producto %}
    <ul class="datos">
        <li>
            <label class="cabecera">Referencia :</label>
            {{producto.referencia}}
        </li>
        <li>
            <label class="cabecera">Precio :</label>
            {{producto.precio}}
        </li>
        <li>
            <label class="cabecera">Nombre :</label>
            {{producto.nombre}}
        </li>
        <li>
            <label class="cabecera">Descripción :</label>
            {{producto.descripcion}}
        </li>
        <li>
            <label class="cabecera">Categoría :</label>
            {{producto.categoria}}
        </li>
        <li>
            <label class="cabecera">Componentes :</label>
            {{producto.componentes}}
        </li>
    </ul>
{% else %}
        <p>No existe este producto</p>
{% endif %}

<!-- Botones de navegación de la parte inferior-->
<a id="volver" href="{% url 'clientes' %}"><img src="{% static 'IMG/LOGOS/boton-volver.jpg' %}" width="30px" height="30px" alt="Imagen de volver atrás"></a>
<a id="home" href = "{% url 'home' %}"><img src="{% static 'IMG/LOGOS/home.png' %}" width="40px" height="40px" alt="Imagen de home"></a>

{% endblock %}
