{% extends "base.html" %}

{% block titulo %}Datos Del Cliente{% endblock %}

{% block main %}
<h2 class="titulos">Datos Del Cliente</h2>

{% if cliente %}
<ul class="datos">
	<li>
		<label class="cabecera">ID :</label>
		{{ cliente.id }}
	</li>
	<li>
		<label class="cabecera">Empresa :</label>
		{{ cliente.nombre_empresa}}
	</li>
	<li>
		<label class="cabecera">Telefono :</label>
		{{cliente.telefono}}
	</li>
	<li>
		<label class="cabecera">Persona contacto :</label>
		{{cliente.persona_contacto}}
	</li>
	<li>
		<label class="cabecera">Dirección :</label>
		{{ cliente.direccion }}
	</li>
	<li>
		<label class="cabecera">C.P. :</label>
		{{ cliente.codigo_postal}}
	</li>
	<li>
		<label class="cabecera">Localidad :</label>
		{{cliente.Localidad}} ({{cliente.Provincia}})
	</li>
	<li>
		<label class="cabecera">Email :</label>
		{{cliente.email}}
	</li>

</ul>
<p ><a href="/appGestionPedidos/clientes/{{ d.id }}">ATRÁS</a></p>
	{% else %}
		<p>No existe este departamento.</p>
	{% endif %}
<a href="{% url 'borrar_cliente' cliente.id %}"
          onClick="return confirm('¿Seguro que quieres borrar a {{cliente.id}}?');">
            Borrar
        </a>

{% endblock %}
