{% extends "base.html" %}

{% block titulo %} Datos del Producto {% endblock %}

{% block main %}
<h2 class="titulos">Datos del producto</h2>

{% if producto %}
    <ul class="datos">
        <li>
            <label class="cabecera">Referencia :</label>
            {{producto.referencia}}
        </li>
        <li>
            <label class="cabecera">Precio :</label>
            {{producto.precio}}
        </li>
        <li>
            <label class="cabecera">Nombre :</label>
            {{producto.nombre}}
        </li>
        <li>
            <label class="cabecera">Descripción :</label>
            {{producto.descripcion}}
        </li>
        <li>
            <label class="cabecera">Categoría :</label>
            {{producto.categoria}}
        </li>
        <li>
            <label class="cabecera">Componentes :</label>
            {{producto.componentes}}
        </li>
    </ul>
{% else %}
        <p>No existe este producto</p>
{% endif %}

{% endblock %}
