{% extends 'base.html' %}



{% block main %}

<form action=""  method="post" >
        {% csrf_token %}
        <p>¿Estás seguro de que quieres borrarlo?</p>
         <ul class="datos">
	<li> Cliente seleccionado:
        <ul>
            <li>
            <label class="cabecera">ID :</label>
		    {{ cliente.id }}
	        </li>
	        <li>
		    <label class="cabecera">Empresa :</label>
            {{ cliente.nombre_empresa}}
	        </li>
        </ul>

        <input class="boton" type="submit" value="Eliminar"/>
         </ul>
    </form>

{% endblock %}
