{% extends "base.html" %}

{% block titulo %}Listado de Pedidos {% endblock %}

{% block main %}
<h2 class = "titulos">Listado de pedidos</h2>

    <ul>
        {% for d in lista_pedidos %}
        <li>
               Datos__ ID: -- Fecha pedido: -- Situación:
        </li>
        <li>
            <ul>
       {{d.identificador}} -- {{ d.fecha_pedido}} --  {{d.entregado}}<li> <a href="/appGestionPedidos/pedidos/{{ d.id }}">Ver Pedido</a></li>
            </ul>
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'crear_pedido' %}"><button class="boton" name="boton">Crear Pedido</button> </a>
{% endblock %}


