{% extends 'base.html' %}
{% load static %}

{% block titulo %}Listado de Pedidos{% endblock %}

{% block main %}
<!--Sobreescribimos el campo entregado-->
<script src = "{% static 'JS/javascript.js' %}"></script>
<h2 class = "titulos">Listado de Pedidos</h2>

<div class = "tabla">
	<p>Pendientes o Entregado :</p>
	<input type="text" placeholder="Selección..." id="imostrar">
	<button onclick="mostrar()">Mostrar</button>

	<!--Tabla para mostrar el listado de pedidos-->
	<table>
		<!--Títulos de la tabla-->
		<thead>
			<tr>
				<th class="primera-titulo">ID</th>
				<th class="segunda-titulo">Cliente</th>
            	<th class="tercera-titulo">Entregado</th>
				<th class="tercera-titulo">Visualizar Pedido</th>
				<th class="cuarta-titulo">Eliminar</th>
			</tr>
		</thead>
		<!--Datos de la tabla.Recorremos el listado de pedidos mediante un for para mostrarlos todos-->
		<tbody>
			{% for d in lista_pedidos %}
			<tr class="dato">
				<td class="primera" > {{ d.id }}</td>
				<td class="segunda">{{ d.cliente}}</td>
            	<td class="tercera">{{ d.entregado}}</td>

				<td class="tercera"><a href="/appGestionPedidos/pedidos/{{ d.id }}"><img src="{% static 'IMG/LOGOS/examinar.jpg' %}" width="30px" height="30px" alt="Imagen de volver"></a></td>
				<td class="cuarta"><a href="/appGestionPedidos/pedidos/delete/{{ d.id }}"><img src="{% static 'IMG/LOGOS/borrar.png' %}" width="30px" height="30px" alt="Imagen de volver"></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!--Botón de navegación que nos abrirá el formulario para crear un nuevo pedido-->
<a class="crear" href="{% url 'crear_pedido' %}"><button class ="boton" name="boton">Crear Pedido</button> </a>
{% endblock %}

