{% extends 'base.html' %}
{% load static %}

{% block titulo %}Luz y Sonido{% endblock %}

{% block main %}
<h2 class = "titulos">Luz y Sonido</h2>

	<div class = "tabla">
	<table>
		<thead>
		<tr>
			<th class="primera-titulo">Ref.</th>
			<th class="segunda-titulo">Nombre</th>
			<th class="tercera-titulo">Visualizar producto</th>
			<th class="cuarta-titulo">Eliminar</th>
		</tr>
		</thead>
		<tbody>
		{% for d in lista_sonido %}
		<tr>
			<td class="primera" > {{ d.referencia }}</td>
			<td class="segunda">{{ d.nombre}}</td>
			<td class="tercera"><a href="/appGestionPedidos/productos/{{ d.id }}"><img src="{% static 'IMG/LOGOS/examinar.jpg' %}" width="30px" height="30px" alt="Imagen de volver"></a></td>
			<td class="cuarta"><a href="/appGestionPedidos/sonido/delete/{{ d.id }}"><img src="{% static 'IMG/LOGOS/borrar.png' %}" width="30px" height="30px" alt="Imagen de volver"></a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
	<a class="crear" href="{% url 'Insertar_Producto' %}"><button class ="boton" name="boton">Crear Producto</button> </a>
{% endblock %}

