/*Definimos color de fondo de la pantalla y anchura máxima de la misma*/
body {
	background-color: #023560;
	max-width: 1100px;
	margin: 0 auto;
	}
/*Fijamos estilo para la cabecera*/
header {
	background-color: white;
	height: 120px;
	margin-top: 0;
	max-width: 100%;
}
/*Definimos el estilo de los elementos que componen la cabecera*/
h1 {
	color: #b4deee;
	display: inline-block;
	font-family: Lato, "sans-serif";
	font-size: 50px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 22px;
	margin-top: 0;
	padding-left: 80px;
	padding-top: 37px;
	vertical-align: bottom;
}
#logo {
	display: inline-block;
	padding-left: 20px;
	vertical-align: bottom;
}
.conten_salir{
    float:right;
    margin-left: 50px;
    display: inline-block;
}
.usuario_activo{
    line-height:30px;


}
.label_usuario{
     float:right;
     margin-right:55px;
}
.salir{
    position: relative ;
    right: 8px;
}

/*Definimos el estilo de los elementos que componen el pie de página*/
footer {
	background-color: white;
	clear: all;
	color: #023560;
	font-family: Lato, "sans-serif";
	font-weight: 500;
	font-size: 18px;
	height: 80px;
	letter-spacing: 1px;
	margin-bottom: 0;
	margin-top: 15px;
	max-width: 100%;
	padding-left: 15px;
	padding-top: 15px;


}
footer img {
	margin-top: 20px;
	margin-left: 0px;
}
.contacto {
	margin-right: 30px;
	float:right;
}
/*Tenemos que dar estilo a los label del footer porque hemos puesto un estilo para las etiquetas label, y lo está cogiendo*/
footer label {
    float: none;
    padding-top: 20px;
    margin-right: 20px;
    vertical-align: top;
}
/*Definimos tamaño del contenedor principal, el del centro de la página*/
main {
    background-color: #cee5ee;
    background-radio: 10px;
    border-radius: 10px;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 35px;
	padding-bottom: 25px;
	/*text-align: center;*/
	width: 74%;


}

/*Estilo de los títulos de la vistas*/
.titulos {
	background-color: #023560;
	color: white;
	padding: 10px;
	margin-left: 15px;
	width: 50%;
	}
/*Cada línea del formulario está formada por un label y un input*/
.formulario {
	line-height: 40px;
}
label {
	float: left;
	width: 20%;

}

/*Eliminamos la línea del fieldset*/
fieldset {
	border: 0;
}
 .form-control {

	border-radius: 6px;
	font-size: 14px;
	height: 20px;
	margin-left: 30px;
	width: 300px;
}
/*Utilizamos el id automatico que pone al crear el formulario para darle altura a la selección de componentes*/
#id_componentes, #id_producto {
    height: 100px;
}
/*Utilizamos los id de mes, día y año para dar formato a las fechas*/
#id_fecha_pedido_day, #id_fecha_pedido_year, #id_fecha_entrega_day, #id_fecha_entrega_year {
    width : 70px;
}
#id_fecha_pedido_month, #id_fecha_entrega_month {
    width: 100px;
}
/*Estilo para los radio-buttons*/
.radio {
	width: 20px;
	margin-left: 30px;
}


/*Estilo para el botón de envío del formulario de registro*/
 .boton {
	background-color: #023560;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	margin-left: 240px;
	margin-top: 30px;
	text-align: center;
	width: 170px;
	height: 40px;
}
.crear {
    margin-top: 30px;
}
/*Estilo general para el formulario de login*/
.form-login {
	background-color: #cee5ee;
	border-radius: 20px;
	font-family: "Verdana";
	margin-top: 150px;
	margin-bottom: 150px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	width: 400px;

}
/*Estilo para las líneas del título del formulario de login*/
hr {
	color: #023560;
	display: inline-block;
	width: 30%;
	margin-left: 0px;
	margin-right: 0px;
}

/*Estilo para los campos de entrada del formulario de login*/
.form-login input {
	background-color: #cee5ee;
	border: none;/*De esta forma quitamos el rectángulo por defecto de los input*/
	border-bottom: 1px solid #023560;/*Y así conseguimos una línea en la parte inferior*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 70%;

}
#id_username, #id_password {
    display: inline-block;

}
.form-login p {
	color: #023560;
	display: block;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;

}
/*Estilo para el enlace de registro*/
p a {
	color: #023560;
	font-size: 14px;
	text-decoration: underline;
}
/*Estilo para el botón de login*/
#boton-login {
	background-color: #023560;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	font-weight: 500;
	height: 40px;
	width: 70%

}

h2, h2 a {
	
	color: #023650;
	font-family: Lato, "sans-serif";
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-left: 0px;
}

p {
	color: #023560;
	font-family: Lato, "sans-serif";
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 15px;
	margin-right: 15px;
	margin-left: 20px;
	text-align: justify;
}

/*Estilo para la posición de la columna izquierda*/
.columna-izquierda {
	background-color: #cee5ee;
	border-radius: 10px;
	box-sizing: border-box;
	float: left;
	margin-top: 35px;
	margin-right: 20px;
	width: 20%
}

.menu {
	
	font-family: "Verdana";
	margin-left: 20px;

}
/*Estilo de la lista que configura el menú de navegación*/
ul {
	list-style: none;/*Así quitamos el puntito que aparece por defecto delante de cada línea de una lista*/
	padding-top: 15px;
	padding-left: 0px;

}

a {
	text-decoration: inherit;/*De esta forma eliminamos el estilo por defecto de los enlaces en html*/
	border-bottom: 10px, solid, #023560;
	color: #023560;
	font-family: Lato, "sans-serif";
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 50px;

}
/*Utlizamos una pseudoclase para definir el estilo de los enlaces sólo cuando pasamos el ratón por encima*/
.enlace-menu:hover {
	background-color: red;
}
h3 {
	color: #cee5ee;
	display: inline-block;
	font-family: Lato, "sans-serif";
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-left: 50px;

}

/*Definimos el estilo para el contenedor de la tabla*/
.tabla {

	box-sizing: border-box;
	padding-left: 15px;
	width: 100%;
	
}
/*Estilo general para la tabla*/



/*Formato para el div que contiene cada categoria */
.categorias, .categorias-inferior {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    padding-left: 15px;
    width: 12%;
}
h5 {
    color: #023560;
	font-family: Lato, "sans-serif";
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.categorias-inferior {
    margin-top: 45px;

}

#volver {
    padding-top: 30px;
    margin-left: 30px;
}
#home {
    float: right;
    margin-right: 30px;
}
/*PARA DAR SCROLL A LAS TABLAS*/

/* table border rule*/


td, th {
    border: 1px solid #023560;
    color: #023560;
    font-family: Verdana;
    padding: 0.3em;
    text-align: left;

}
th {
    font-size: 15px;
}
td {
    font-size: 16px;
}
tr {
style: border-collapse;
}

.tabla_componentes{
    align: center;
    box-sizing: border-box;
    padding-left: 15px;
    width: 655px;
}

/*Establecemos la anchura de cada una de las columnas, mediante las clases que hemos definido*/
.primera {
    width: 15%;
}
.segunda {
    width: 400px;
}
.tercera, .cuarta {
    text-align: center;
    width: 20%;
}
/*Hacemos lo mismo con las columnas del titulo*/
.primera-titulo {
    width: 15%;
}
.segunda-titulo {
    width: 400px;
}
.tercera-titulo, .cuarta-titulo {
    text-align: center;
    width: 20%;
}

/* display as block plus display vertical scroll bars */
thead, tbody {
    display: block;
    overflow-y: scroll;
}

/* sample height */
tbody, table {
    border-collapse: collapse;
    height: 300px;
    width: 100%;
}
/*Damos estilo a la lista con datos de una entidad*/
.datos {
    color: #023560;
    font-family: Verdana;
    line-height: 35px;
    margin-left: 30px;
}
/*Vamos a resaltar las cabeceras de los campos*/
.cabecera {
    font-weight: Bold;
    width: 200px;
}
/*Vamos a dar estilo al buscador de la vista de pedidos*/
.buscador {
    margin-bottom: 20px;
    margin-top: 20px;
}
/* Label anterior al select*/
#etiqueta-buscador {
    color: #023560;
	font-family: Verdana;
	font-size: 16px;
    width: 100px;

}
/*Estilo al Select*/
#imostrar {
    margin-left: 5px;
    margin-top: 0px;
    width: 100px;
}
/*Estilo al boton*/
#boton-buscador {
    background-color: #023560;
	border-radius: 6px;
	color: white;
	font-size: 14px;
}
/*Posición para el botón del historial de pedidos de un cliente*/
#boton-historial {
    float: right;
    margin-right: 150px;
}
/*Ocultamos el div que usamos para recoger el id del cliente en la pista Detalle de Cliente*/
#id_js {
    display: none;
}



/* sample width and horizontal scroll bar */
/*div { width: 200px; overflow-x: auto; }*/
